.postsBlock {
    padding: 10px;
}

.addPost {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.posts {
}

.yourNews {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px;
    background: lightgray;
    border: none;
}

.btnNewsSend {
    padding: 5px 20px;
    background: green;
    border: none;
    border-radius: 5px;
}