.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogsList {
    border-right: 1px solid grey;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dialog {
    background: cornflowerblue;
    color: white;
    /*border: 1px solid black;*/
    padding: 10px;
    border-radius: 20px;
    margin: 0 10px 5px 0;
    text-decoration: none;
}

.active {
    /*text-decoration: none;*/
    color: red;
    padding: 10px;
}

.message {
}

.messagesList {
    list-style-type: none;
}
